.parent {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr) 2fr;
  grid-template-rows: 1fr repeat(4, 2fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #E0D3Df;
  color: #08131D;
  }
  
  .navLeft { 
    grid-area: 1 / 1 / 2 / 2; 
    background-color: #2EB6DB;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }

  .navCenter { 
    grid-area: 1 / 2 / 2 / 7;
    background-color: #2EB6DB  
  }

  .navRight { 
    grid-area: 1 / 7 / 2 / 8; 
    background-color: #2EB6DB ;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
  
  .leftCol1 { 
    grid-area: 2 / 1 / 4 / 2;
    display: grid; 
    background-color: #ADC0C6;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
  }

  .leftCol1 > .image {
    grid-area: 1 / 1 / 1 / 2;
    background-image: url(./assets/lucas-favre-JnoNcfFwrNA-unsplash.jpg);
    background-size: cover;
    clip-path: circle(at 50%);
  }

  .leftCol1 > .text {
    grid-area: 2 / 1 / 2 / 2;
  }

  .content1 { 
    grid-area: 2 / 2 / 4 / 7; 
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 3fr 1fr;
  }

  .content1 > .background {
    grid-area: 1 / 1 / 3 / 4;
    background-color: #FD63B3;
  }

  .content1 > .date {
    grid-area: 1 / 1 / 2 / 1;
    padding: 0 0 0 0;
    writing-mode: vertical-lr;
  }

  .content1 > .text {
    grid-area: 2 / 1 / 2 / 4;
  }

  .content1 > .image {
    grid-area: 1 / 2 / 5 / 7;
    clip-path: circle(at 60%);
    background-size: cover;
    background-image: url(./assets/fitsum-admasu-oGv9xIl7DkY-unsplash.jpeg);
  }

  .content2 { 
    grid-area: 4 / 2 / 6 / 7; 
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-template-rows: 3fr 1fr;
  }

  .content2 > .background {
    grid-area: 1 / 1 / 3 / 4;
    background-color: #2EB6DB;
  }

  .content2 > .date {
    grid-area: 1 / 1 / 2 / 1;
    padding: 0 0 0 0;
    writing-mode: vertical-lr;
  }

  .content2 > .text {
    grid-area: 2 / 1 / 2 / 4;
  }

  .content2 > .image {
    grid-area: 1 / 2 / 5 / 7;
    background-image: url(./assets/vherliann-WwqGz6dtOn4-unsplash.jpeg);
    background-size: cover;
    background-position: 50% 70%;
    clip-path: circle(at 60%);
  }

  .rightCol1 { 
    grid-area: 2 / 7 / 4 / 8;
    display: grid; 
    background-color: #ADC0C6;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
  }

  .rightCol1 > .image {
    grid-area: 1 / 1 / 1 / 2;
    background-image: url(./assets/artworks-000561072705-gox70p-t500x500.jpeg);
    background-size: cover;
    clip-path: circle(at 50%);
  }

  .rightCol1 > .text {
    grid-area: 2 / 1 / 2 / 2;
    
  }

  .rightCol2 { 
    grid-area: 4 / 7 / 6 / 8; 
    display: grid; 
    background-color: #ADC0C6;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
  }

  .rightCol2 > .image {
    grid-area: 1 / 1 / 1 / 2;
    background-image: url(./assets/david-pisnoy-UJUgBnemP7o-unsplash.jpeg);
    background-size: cover;
    clip-path: circle(at 50%);
  }

  .rightCol2 > .text {
    grid-area: 2 / 1 / 2 / 2;
  }